.search-input {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  z-index: 400;
}

#markers {
  border-radius: 5px;
  font-weight: bold;
}

.search-bar {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  margin-left: 10px;
}

.modal-header {
  background-color: rgb(244, 253, 255);
  color: rgb(0, 0, 0);
}

.modal-body {
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 1rem;
  border-radius: 10px;
  margin: 15px;
}

.modal-image {
  border: 2px solid rgb(180, 225, 238);
  margin-bottom: 10px;
}

.popup-p {
  margin: 0px !important;
  font-size: 1rem;
}

.button-container {
  border: 2px solid rgb(168, 166, 166);
  border-radius: 5px;
  margin-top: 80px;
  margin-left: 10px;
  width: 34px;
  z-index: 400;
  position: absolute;
}

.icon-container {
  border-bottom: 1px solid lightgrey;
}

.icon-container:hover {
  cursor: pointer;
  background-color: rgb(240, 234, 234);
}

@media only screen and (max-device-width: 480px) {
  .search-bar {
    float: right;
    margin-bottom: 10px;
  }
}
